{% extends 'SfWebAppCmsOfficeBundle::index.html.twig' %}
<nav>
    <div class='container'>
        <div class='fontawesome-cog' id='icon'>AGRI_STARTUP</div>
        <ul>
            <li>
                <a href='#'>A propos</a>
            </li>
            <li>
                <a href='#'>Acteurs</a>
            </li>
            <li>
                <a href='#'>Solutions et Services</a>
            </li>
            <li>
                <a href='#'>Forum</a>
            </li>
            <li>
                <a href='#'>Contact</a>
            </li>
        </ul>
    </div>
</nav>
<header>
    <div class='container'>
        <h1>WE'RE CREATIVE DESIGNER</h1>
    </div>
</header>